body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo_container {
  width: 200px;
  height: 200px;
  margin: 0 auto
}

:root {
  --primary-light-color: #5A81FA;
  --primary-dark-color: #2B30BC;
  --light-color: #CFDEFF;
  --dark-color: #696E82;
  --secondary-light-color: #EBEEFC;
  --secondary-dark-color: #A8B1CE;
  --light-font-color: #F2F4FF;
  --dark-font-color: #1F1F1F;
}
